body {
    height:100%;
    /* Center and scale the image nicely */
    background-image: url(images/pic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  table #back
  {
    background-image: url(images/pic2.png);
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }